<ng-container>
    <mat-toolbar color="warn">
        <div class="block sm:hidden">
            <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon color="accent">menu</mat-icon>
            </button>
        </div>

        <a mat-button class="companyName" routerLink="/">
            <img src="../../../../../assets/images/logos/02.png" alt="" 
            style="max-width: 100px;min-width: 
            100px;" class="mx-auto" *ngIf="dark">
            <img src="../../../../../assets/images/logos/01.png" alt="" 
            style="max-width: 100px;min-width: 
            100px;" class="mx-auto" *ngIf="dark == false">
        </a>
        <span class="spacer"></span>
        <div class="hidden sm:flex md:flex color-theme h-full items-center">
            <div class="flex items-center h-full active:border-b-2 active:border-green-500">
                <a mat-button routerLink="/about-us">About us</a>
            </div>
            <div class="flex items-center h-full active:border-b-2 active:border-green-500">
                <a mat-button routerLink="/prices">Prices</a>
            </div>
            <div class="flex items-center h-full active:border-b-2 active:border-green-500">
                <a mat-button routerLink="/start-page">Start page</a>
            </div>
            <div class="flex items-center h-full active:border-b-2 active:border-green-500">
                <a mat-button routerLink="/offer">Offer</a>
            </div>
            <div class="flex items-center h-full active:border-b-2 active:border-green-500">
                <a mat-button color="accent" routerLink="/contact">Contact</a>
            </div>
            <mat-slide-toggle (change)="change_dark(!dark)">
                <mat-icon color="accent" mat-list-icon class="chevron-button side-nav-button">{{dark?'dark_mode':'light_mode'}}</mat-icon>
            </mat-slide-toggle>
        </div>
        <div class="block sm:hidden md:hidden color-theme">
            <mat-slide-toggle (change)="change_dark(!dark)">
                <mat-icon color="accent" mat-list-icon class="chevron-button side-nav-button">{{dark?'dark_mode':'light_mode'}}</mat-icon>
            </mat-slide-toggle>
        </div>

    </mat-toolbar>
    <mat-sidenav-container class="example-container" [ngClass]="{'light-theme':dark==false,'dark-theme':dark==true}">
        <mat-sidenav class="flex flex-col" color="primary" #sidenav mode="over" opened="false">
            <div class="flex flex-col">
                <a  mat-button *ngFor="let link of links" mat-list-item (click)="goto(link.url)">
                <!-- <a mat-button *ngFor="let link of links" mat-list-item routerLink="/inicio"> -->
                    {{link.description}}
                </a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content [ngClass]="{'light-theme':dark==false,'dark-theme':dark==true}">
            <div id="inicio"></div>
            <div class="w-full h-screen p-0 m-0 bg-theme">
                <div class="bg-theme w-full mx-auto h-full rounded-xl">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    

    <!-- <mat-sidenav-container class="example-container" [ngClass]="{'light-theme':dark==false,'dark-theme':dark==true}">
        <mat-sidenav
        class="example-sidenav bg-theme"
        [fixedInViewport]="true"
        [fixedTopGap]="0"
        [fixedBottomGap]="0"
        #drawer
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'push'"
        [opened]="false">
        <mat-toolbar></mat-toolbar>
            <mat-nav-list>
                <a *ngFor="let link of links" mat-list-item (click)='go_to(link.link);drawer.toggle()'>
                {{link.description}}
                <mat-icon mat-list-icon>house</mat-icon>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content [ngClass]="{'light-theme':dark==false,'dark-theme':dark==true}">
        
        </mat-sidenav-content>
    </mat-sidenav-container> -->
</ng-container>