* {
    box-sizing: border-box;
}

.p-01 {padding: 0.1em;}
.p-02 {padding: 0.2em;}
.p-03 {padding: 0.3em;}
.p-04 {padding: 0.4em;}
.p-05 {padding: 0.5em;}
.p-06 {padding: 0.6em;}
.p-07 {padding: 0.7em;}
.p-08 {padding: 0.8em;}
.p-09 {padding: 0.9em;}
.p-1 {padding: 1em;}