<div>
    <app-cover-section id="inicio"></app-cover-section>
    <app-projects-section id="servicios"></app-projects-section>

    <app-about-us-section id="quienes-somos"></app-about-us-section>
    <app-contact-section id="contacto"></app-contact-section>

    <app-news-section id="aliados"></app-news-section>
    <!-- <app-horizontal-gallery-section id="galeriados"></app-horizontal-gallery-section> -->
    <!-- <router-outlet></router-outlet> -->
    <app-gallery-section id="clientes"></app-gallery-section>
    <app-presentation-section id="footer"></app-presentation-section>
</div>